<%- include('../partials/layout/header.ejs', { titlePage: "Forgot Password" } ) %>

<div class="d-flex flex-column justify-content-center h-100">
    <div class="container d-flex justify-content-center align-content-center">
        <div class="d-flex flex-column align-items-center form">
            <div class="d-flex flex-row form-header justify-content-center">
                <h3>Mot de passe perdu</h3>
            </div>
            <form class="d-flex flex-column form-body" method="post" action="<%- pathRoot %>/users/forgot-password">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row input-group">
                        <label for="email" class="input-group-text">Email</label>
                        <input type="email" id="email" value="<%- body ? body.email : "" %>" class="form-control" name="email" required />
                    </div>
                </div>
                <div class="d-flex flex-row input-group justify-content-end form-footer">
                    <button type="submit" class="btn btn-primary shadow">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/layout/footer.ejs') %>