<%- include('../partials/layout/header.ejs', { titlePage: "Forgot Password" } ) %>

<div class="d-flex flex-column justify-content-center h-100">
    <div class="container d-flex justify-content-center align-content-center">
        <div class="d-flex flex-column align-items-center form">
            <div class="d-flex flex-row form-header justify-content-center">
                <h3>Modifier mon mot de passe</h3>
            </div>
            <form class="d-flex flex-column form-body" method="post" action="<%- pathRoot %>/users/reset-password">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row input-group">
                        <label for="oldPassword" class="input-group-text">Mot de passe actuel</label>
                        <input type="password" id="oldPassword" class="form-control" name="oldPassword" required />
                    </div>
                    <div class="d-flex flex-row input-group">
                        <label for="password" class="input-group-text">Nouveau mot de passe</label>
                        <input type="password" id="password" class="form-control" name="password" required />
                    </div>
                    <div class="d-flex flex-row input-group">
                        <label for="passwordConfirm" class="input-group-text">Confirmation mot de passe</label>
                        <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" required />
                    </div>
                </div>
                <div class="d-flex flex-row input-group justify-content-end form-footer">
                    <button type="submit" class="btn btn-primary shadow">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/layout/footer.ejs') %>