<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container">
    Bonjour <%- user.local.firstname %> <%- user.local.lastname%>, <br/><br/>
    Vous avez perdu votre mot de passe ? Pas d'inquiètude ! Cliquer sur le lien suivant pour modifier votre mot de passe.<br/><br/>
    <a href="<%- url %>">Modifier mon mote de passe</a>
</div>
</body>
</html>