<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container">
    Bonjour <%- user.local.firstname %> <%- user.local.lastname%>, <br/><br/>
    Pour commander des articles dans notre boutique en ligne, il est nécessaire que votre adresse email soit vérifiée.<br/><br/>
    <a href="<%- url %>">Vérifier mon adresse email</a>
</div>
</body>
</html>